@font-face {
	font-family: 'Sono';
	src: url('/fonts/sono.ttf') format("truetype-variations");
	font-weight: 200 800;
}

@font-face {
  font-family: 'Recursive';
  font-style: oblique 0deg 15deg;
  font-weight: 300 1000;
  font-display: swap;
  src: url('/fonts/Recursive_VF_1.085--subset-GF_latin_basic.woff2') format('woff2');
}


:root {
	--bg: var(--white);
	--fg: var(--black);

  --border-radius: 4px;
	--color-link: hsl(230, 60%, 50%);
	--color-link-visited: hsl(290, 60%, 50%);
	--color-link-hover: hsl(230, 80%, 60%);
	--color-link-active: hsl(350, 60%, 50%);

	--focus-outline: 2px dotted var(--color-primary-tint1);
	--focus-outline-offset: 2pxm;
	--font-family: 'Recursive', 'Avenir', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', 'Verdana', sans-serif;
	--font-mono: 'Consolas', 'Monaco', 'Courier New', monospace;
	--font-heading: var(--font-family);
	--font-body: var(--font-family);

  --space-0: 0;
  --space-1: 1px;
  --space-2: 2px;
  --space-3: 4px;
  --space-4: 8px;
  --space-5: 12px;
  --space-6: 16px;
  --space-7: 24px;
  --space-8: 32px;
  --space-9: 52px;

  --wheel-0-0: rgb(18.796% 0% 6.0835%);
  --wheel-0-1: rgb(40.25% 0% 18.446%);
  --wheel-0-2: rgb(63.505% 0% 31.532%);
  --wheel-0-3: rgb(88.456% 7.8866% 45.633%);
  --wheel-0-4: rgb(100% 36.068% 60.759%);
  --wheel-0-5: rgb(100% 66.769% 77.057%);
  --wheel-0-6: rgb(100% 91.712% 94.131%);

  --wheel-1-0: rgb(12.925% 4.0848% 0%);
  --wheel-1-1: rgb(35.778% 9.5022% 0%);
  --wheel-1-2: rgb(56.873% 19.129% 2.7081%);
  --wheel-1-3: rgb(79.683% 29.46% 7.8447%);
  --wheel-1-4: rgb(100% 40.414% 13.325%);
  --wheel-1-5: rgb(100% 68.761% 53.454%);
  --wheel-1-6: rgb(100% 92.29% 88.168%);

  --wheel-2-0: rgb(8.4257% 6.5568% 0%);
  --wheel-2-1: rgb(21.682% 18.983% 0%);
  --wheel-2-2: rgb(36.156% 32.383% 0%);
  --wheel-2-3: rgb(51.985% 46.785% 0%);
  --wheel-2-4: rgb(68.751% 62.035% 0%);
  --wheel-2-5: rgb(86.314% 78.011% 0%);
  --wheel-2-6: rgb(100% 94.358% 43.291%);

  --wheel-3-0: rgb(0% 8.7095% 0%);
  --wheel-3-1: rgb(0% 23.071% 0%);
  --wheel-3-2: rgb(0% 38.49% 0%);
  --wheel-3-3: rgb(0% 55.018% 2.2915%);
  --wheel-3-4: rgb(0% 72.497% 7.981%);
  --wheel-3-5: rgb(0% 90.799% 13.587%);
  --wheel-3-6: rgb(63.53% 100% 60.776%);

  --wheel-4-0: rgb(0% 8.5681% 6.792%);
  --wheel-4-1: rgb(0% 22.282% 19.361%);
  --wheel-4-2: rgb(0% 37.364% 32.911%);
  --wheel-4-3: rgb(0% 53.566% 47.5%);
  --wheel-4-4: rgb(0% 70.733% 62.951%);
  --wheel-4-5: rgb(0% 88.712% 79.137%);
  --wheel-4-6: rgb(59.533% 100% 95.176%);

  --wheel-5-0: rgb(0% 8.1727% 10.9%);
  --wheel-5-1: rgb(0% 21.477% 28.033%);
  --wheel-5-2: rgb(0% 36.147% 46.133%);
  --wheel-5-3: rgb(0% 51.911% 65.465%);
  --wheel-5-4: rgb(0% 68.608% 85.954%);
  --wheel-5-5: rgb(17.077% 85.018% 100%);
  --wheel-5-6: rgb(83.512% 96.738% 100%);

  --wheel-6-0: rgb(0% 6.8566% 18.962%);
  --wheel-6-1: rgb(0% 19.469% 41.493%);
  --wheel-6-2: rgb(0% 33.053% 66.229%);
  --wheel-6-3: rgb(0% 47.684% 92.759%);
  --wheel-6-4: rgb(30.333% 62.714% 100%);
  --wheel-6-5: rgb(65.159% 78.152% 100%);
  --wheel-6-6: rgb(91.903% 94.408% 100%);

  --wheel-7-0: rgb(13.692% 0.4926% 17.324%);
  --wheel-7-1: rgb(30.204% 9.5334% 36.622%);
  --wheel-7-2: rgb(48.811% 19.146% 57.968%);
  --wheel-7-3: rgb(68.8% 29.504% 80.876%);
  --wheel-7-4: rgb(89.933% 40.486% 100%);
  --wheel-7-5: rgb(96.212% 67.591% 100%);
  --wheel-7-6: rgb(100% 91.566% 100%);

  --v-font-mono: 0;
  --v-font-casl: 0.5;
  --v-font-wght: 400;
  --v-font-slnt: 0;
  --v-font-crsv: 0.5;
}


@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--black);
		--fg: var(--white);
	}
}

* {
	text-rendering: geometricPrecision;
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
	transition: font-variation-settings 500ms ease-in-out;
}

html {
  font-family: 'Recursive';
	overflow-x: hidden;
}

html,
body {
	box-sizing: border-box;
  height: 100%;
	min-height: 100%;
}

body {
	font-size: 1rem;
	line-height: 1.3rem;
	font-family: var(--font-body);
  position: relative;
}

a:link {
	color: var(--color-link);
}

a:visited {
	color: var(--color-link-visited);
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

a:active {
	color: var(--color-link-active);
}

:focus {
	position: relative;
}

:focus::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background:
		linear-gradient(180deg, hsla(180,0%,100%,0) 0%, hsla(180,0%,100%,1) 50%, hsla(180,0%,100%,0) 100%);
	background-size: 1px 2000px;
	background-repeat: repeat-x;
	mix-blend-mode: overlay;
	animation: focus-party-loop 3000ms infinite;
	animation-delay: -2000ms;
}

@keyframes focus-party-loop {
	0% {
		background-position-y: 4000px;
	}

	50% {
		background-position-y: 1000px;
	}
	100% {
		background-position-y: -2000px;
	}
}


img,
video,
svg{
  height: auto;
	max-width: 100%;
	vertical-align: top;
}
menu-resource {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

menu-user {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.button {
	--border-color: transparent;
	--border-color-hover: transparent;
	--border-thickness: 4rem;
	--background-color: var(--color-primary);
	--background-color-hover: var(--color-primary-shade1);
	--text-color: var(--color-neutral-tint4);
	--text-color-hover: var(--color-neutral-tint4);

	align-items: center;
	align-content: center;
	background-color: var(--background-color);
	border: var(--border-thickness) solid var(--border-color);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	color: var(--text-color);
	cursor: pointer;
	display: inline-block;
	font-size: var(--font-size);
	justify-content: center;
	line-height: 1rem;
	max-width: 100%;
	min-height: 2rem;
	padding: .5rem 1rem;
	text-align: center;
	transition-duration: 250ms;
	transition-property: all;
	user-select: none;
	width: auto;
	vertical-align: middle;
}

.button::-moz-focus-inner {
	border: 0;
}

.button:link,
.button:visited {
	color: var(--text-color);
	text-decoration: none;
}

.button:focus,
.button:hover {
	background-color: var(--background-color-hover);
	border-color: var(--border-color-hover);
	color: var(--text-color-hover);
}

.button:active {
	background-color: var(--background-color);
	color: var(--text-color);
}

.button:disabled {
	opacity: .5;
	pointer-events: none;
}

.button--outlined {
	--background-color: transparent;
	--background-color-hover: var(--color-primary-shade1);
	--border-color: var(--color-primary);
	--border-color-hover: var(--color-primary-shade1);
	--text-color: var(--color-primary);
}

.button--secondary {
	--background-color: var(--color-neutral-tint2);
	--background-color-hover: var(--color-neutral-tint1);
	--border-color: var(--color-neutral-tint2);
	--border-color-hover: var(--color-neutral-tint1);
	--text-color: var(--color-neutral-shade3);
	--text-color-hover: var(--color-neutral-shade3);
}

.button--link {
	--background-color: transparent;
	--background-color-hover: transparent;
	--border-color: transparent;
	--border-color-hover: transparent;
	--text-color: var(--color-link);
	--text-color-hover: var(--color-link-hover);

	text-decoration: underline;
}

.button--block {
	display: block;
	width: 100%;
}

.button--small {
	--border-thickness: 1px;

	font-size: .75rem;
	line-height: 1rem;
	min-height: 1rem;
	padding: 0 .5rem;
}

.button--large {
	--border-thickness: 6rem;

	font-size: 1.25rem;
	line-height: 1.5rem;
	min-height: 3rem;
	padding: .25rem 2rem;
}

.field [disabled] + *,
[disabled] {
	cursor: default;
	opacity: .5;
	pointer-events: none;
}

.field {
	display: flex;
	margin-bottom: 48rem;
	position: relative;
	text-align: left;
}

.field .label {
	z-index: 2;
}

.field [type=checkbox] + .label,
.field [type=radio] + .label {
	color: var(--color-neutral-shade4);
	cursor: pointer;
	display: inline-block;
	padding-left: 1rem;
}

.field *:not([type=radio]):not([type=checkbox]) + .label {
	font-size: .5rem;
	position: absolute;
	left: 1px;
	line-height: 1;
	padding: .25rem .25rem 0;
	right: 1px;
	top: 0;
}

.field input,
.field textarea,
.field select {
	background-color: var(--color-neutral-tint4);
	border: 1px solid var(--color-neutral-shade1);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	margin-top: -2px;
	padding: .75rem .25rem .125rem;
	position: relative;
	width: 100%;
}

.field select {
	z-index: 1;
}

.field select + .label::after {
	content: '';
	border-left: .25rem solid transparent;
	border-right: .25rem solid transparent;
	border-top: .25rem solid var(--color-neutral-shade1);
	bottom: -.75rem;
	height: 0;
	pointer-events: none;
	position: absolute;
	right: .5rem;
	width: 0;
}

.field option[disabled] {
	background-color: var(--color-neutral-tint3);
	color: var(--color-neutral-shade2);
}

.field--inline {
	display: inline-block;
	margin-right: .5rem;
}

.field [type=checkbox],
.field [type=radio] {
	opacity: 0;
	position: absolute;
	z-index: 0;
}

.field [type=checkbox] + .label::before,
.field [type=radio] + .label::before {
	background-color: var(--color-neutral-tint4);
	border: 2px solid var(--color-neutral-shade1);
	content: '';
	height: .5rem;
	left: 0;
	position: absolute;
	top: .125rem;
	transform: translateY(1px);
	width: .5rem;
}

.field [type=checkbox] + .label::after,
.field [type=radio] + .label::after {
	background-color: var(--color-primary);
	border: 2px solid transparent;
	color: var(--color-neutral-tint4);
	height: .25rem;
	left: .125rem;
	position: absolute;
	top: .25rem;
	transform: translateY(1px);
	width: .25rem;
}

.field [type=checkbox] + .label::before,
.field [type=checkbox] + .label::after {
	border-radius: var(--border-radius);
}

.field [type=radio] + .label::before,
.field [type=radio] + .label::after {
	border-radius: 1rem;
}

.field [type=radio]:focus + .label::before,
.field [type=checkbox]:focus + .label::before {
	outline: var(--focus-outline);
	outline-offset: var(--focus-outline-offset);
}

.field [type=checkbox]:checked + .label::after,
.field [type=radio]:checked + .label::after {
	content: '';
}

.field textarea {
	margin-top: 0;
	min-height: 4rem;
}
.visually-hidden {
	position: absolute !important;
	height: 1px; 
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap; /* added line */
}

.interface-button {
  background: var(--wheel-5-5);
  display: grid;
  place-items: center;
  border: .25em solid var(--wheel-5-4);
  border-radius: 100%;
  overflow: hidden;
  padding: 0;
  width: 5em;
  height: 5em;
}

.interface-button:hover,
.interface-button:focus {
  border-color: var(--wheel-5-6);
}

.interface-button.tl {
  border-radius: 0 0 100% 0;
  border-top: none;
  border-left: none;
}

.interface-button.tr {
  border-radius: 0 0 0 100%;
  border-top: none;
  border-right: none;
}

.interface-button.bl {
  border-radius: 0 100% 0 0;
  border-left: none;
  border-bottom: none;
}

.interface-button.br {
  border-radius: 100% 0 0 0;
  border-bottom: none;
  border-right: none;
}

footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  place-items: end center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

footer chalect-bar .filterable-list {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.85));
}

footer chalect-bar .bar {
  background: var(--wheel-5-5);
  border: .25em solid var(--wheel-5-4);
  border-radius: var(--border-radius, 4px) var(--border-radius, 4px) 0 0;
  border-bottom: none;
  line-height: 1rem;
  padding: 1rem;
}

footer chalect-bar .bar:hover,
footer chalect-bar .bar:focus,
footer chalect-bar .is-active .bar {
  border-color: var(--wheel-5-6);
}


footer chalect-bar [name="filter"] {
  line-height: 2rem;
  font-size: 1.5rem;
  padding: .5rem;
  background: rgba(255,255,255,.85);
}
